* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul {
  display: flex;
  grid-gap: 16px;
  align-items: center;
}

ul li {
  list-style: none;
}

ul li a {
  color: #737373;
}

img {
  vertical-align: bottom;
}

.price {
  color: #23856D;
}

a.button,
button.button {
  border-radius: 5px;
  border: 1px solid #23A6F0;
  font-size: 14px;
  font-weight: 700;
  color: #23A6F0;
  padding: 0 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 52px;
  background-color: #fff;
  margin: 0 auto;
}

a.button.colored-bg,
button.button.colored-bg {
  color: #fff;
  background-color: #23A6F0;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

p,
a {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}

p.text-style-2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

span.text-style-1,
p.text-style-3 {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

span {
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
}

a {
  text-decoration: none;
}

.top-bar {
  background: #23856D;
  height: 58px;
  margin: 0 0 12px;
  padding: 0 38px;
}

.top-bar .top-bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.top-bar .top-bar-content p {
  color: #fff;
}

.top-bar .top-bar-content .left-section,
.top-bar .top-bar-content .right-section {
  display: flex;
  grid-gap: 30px;
  align-items: center;
}

.top-bar .top-bar-content .left-section p,
.top-bar .top-bar-content .right-section p {
  display: flex;
  align-items: center;
  grid-gap: 6px;
}

.top-bar .top-bar-content .left-section ul li,
.top-bar .top-bar-content .right-section ul li {
  height: 18px;
}

header {
  height: 58px;
  padding: 0 38px;
  margin: 0 0 12px;
}

header .header-content {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: space-between;
}

header .header-content h3.logo a {
  font-size: inherit;
  font-weight: inherit;
  color: #252B42;
}

header .header-content .left-section {
  display: flex;
  grid-gap: 120px;
  align-items: center;
}

header .header-content .right-section {
  display: flex;
  grid-gap: 30px;
  align-items: center;
}

header .header-content .right-section p {
  display: flex;
  align-items: center;
  grid-gap: 5px;
}

header .header-content .right-section p.icon a {
  height: 16px;
}

header .header-content .right-section p,
header .header-content .right-section a {
  color: #23A6F0;
}

.banner {
  padding: 80px 0;
}

.banner .banner-content {
  display: grid;
  grid-template-columns: 450px 1fr 1fr;
  grid-gap: 15px;
}

.banner .banner-content .single-product {
  position: relative;
}

.banner .banner-content .single-product:first-child {
  grid-row: 1/3;
}

.banner .banner-content .single-product:nth-child(2) {
  grid-column: 2/4;
}

.banner .banner-content .single-product .p-content {
  display: grid;
  grid-gap: 5px;
  position: absolute;
  left: 24px;
  top: 24px;
}

.banner .banner-content .single-product .p-content p.stock {
  color: #2DC071;
}

.main-container {
  max-width: 1920px;
  margin: 0 auto;
}

.main-container .inner-container {
  max-width: 1146px;
  margin: 0 auto;
  width: 100%;
}

.main-container .section-content {
  padding: 80px 0;
}

.main-container .section-content .heading {
  display: grid;
  grid-gap: 10px;
  text-align: center;
  margin: 0 0 56px;
}

.main-container .section-content .products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.main-container .section-content .products-container .single-product img {
  width: 100%;
}

.main-container .section-content .products-container .content {
  padding: 25px 25px 35px;
  text-align: center;
  display: grid;
  grid-gap: 10px;
}

.main-container .section-content .products-container .content h5 {
  color: #252B42;
}

.main-container .section-content .products-container .content p {
  color: #737373;
}

.main-container .section-content .products-container .content h5.price {
  color: #23856D;
}

.main-container .section-content .services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.main-container .section-content .services-container .single-service {
  text-align: center;
  padding: 35px 40px;
  display: grid;
  grid-gap: 20px;
}

.main-container .section-content .services-container .single-service svg {
  margin: 0 auto;
}

.main-container .section-content button.button,
.main-container .section-content a.button {
  margin: 48px auto 0;
}

.main-container .best-seller-product-style-2 {
  background-color: #FAFAFA;
  padding: 48px 0;
}

.main-container .best-seller-product-style-2 .heading {
  margin: 0 0 24px;
}

.main-container .best-seller-product-style-2 .heading h3 {
  text-align: left;
  padding-bottom: 24px;
  border-bottom: 2px solid #ECECEC;
}

.main-container .best-seller-product-style-2 .products-container .single-product {
  background-color: #FFFFFF;
}

.main-container .call-to-action-container {
  height: 640px;
  display: grid;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: url(/assets/images/call-to-action-bg.png);
}

.main-container .call-to-action-container .call-to-action-content {
  max-width: 1050px;
  margin: 0 auto;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 30px;
}

.main-container .call-to-action-container .call-to-action-content h2 {
  max-width: 570px;
  margin: 0 auto;
}

.main-container .call-to-action-container .call-to-action-content span.text-style-1 {
  max-width: 445px;
  margin: 0 auto;
}

.main-container .social-bar-section {
  background-color: #FAFAFA;
  height: 138px;
}

.main-container .social-bar-section.white-bg {
  background-color: #fff;
}

.main-container .social-bar-section .social-bar-content {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  border-bottom: 1px solid #E6E6E6;
}

.main-container .testimonial-container .testimonial-content {
  display: grid;
  grid-template-columns: 442px 462px;
  justify-content: space-between;
  align-items: center;
}

.main-container .testimonial-container .testimonial-content .left-section {
  text-align: center;
}

.main-container .testimonial-container .testimonial-content .left-section h3 {
  margin: 0 0 28px;
}

.main-container .testimonial-container .testimonial-content .left-section .single-review {
  display: grid;
  grid-gap: 20px;
}

.main-container .testimonial-container .testimonial-content .left-section .single-review .user-img img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.main-container .testimonial-container .testimonial-content .left-section .single-review ul {
  justify-content: center;
}

.main-container .testimonial-container .testimonial-content .left-section .single-review p {
  color: #737373;
}

.main-container .testimonial-container .testimonial-content .left-section .single-review .name {
  color: #23A6F0;
}

.main-container .testimonial-container .testimonial-content .right-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 18px;
}

.main-container .featured-container .featured-content .heading {
  text-align: center;
  margin: 0 0 80px;
}

.main-container .featured-container .featured-content .heading h6 {
  color: #23A6F0;
}

.main-container .featured-container .featured-content .posts-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
}

.main-container .featured-container .featured-content .posts-container .single-post {
  box-shadow: 0px 0px 6px #ECECEC;
}

.main-container .featured-container .featured-content .posts-container .single-post .post-img {
  position: relative;
}

.main-container .featured-container .featured-content .posts-container .single-post .post-img img {
  width: 100%;
}

.main-container .featured-container .featured-content .posts-container .single-post span.tag {
  top: 20px;
  left: 20px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  width: 58px;
  height: 24px;
  color: #fff;
  background-color: #E74040;
  text-align: center;
  line-height: 24px;
}

.main-container .featured-container .featured-content .posts-container .single-post .post-content {
  padding: 25px 25px 35px;
  display: grid;
  grid-gap: 10px;
}

.main-container .featured-container .featured-content .posts-container .single-post .post-content ul li a {
  color: #737373;
  font-size: 12px;
  font-weight: 400;
}

.main-container .featured-container .featured-content .posts-container .single-post .post-content ul li a.active {
  color: #8EC2F2;
}

.main-container .featured-container .featured-content .posts-container .single-post .post-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.main-container .featured-container .featured-content .posts-container .single-post .post-content div.info {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-container .featured-container .featured-content .posts-container .single-post .post-content div.info p {
  display: flex;
  grid-gap: 5px;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.main-container .featured-container .featured-content .posts-container .single-post .post-content a {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

.main-container .logo-section-container {
  background-color: #FAFAFA;
  height: 175px;
}

.main-container .logo-section-container .logo-section-content {
  max-width: 1050px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-container .product-detail-container .product-detail-content ul.product-detail-heading {
  height: 90px;
  display: flex;
  justify-content: center;
  grid-gap: 48px;
  border-bottom: 1px solid #ECECEC;
}

.main-container .product-detail-container .product-detail-content ul.product-detail-heading li a {
  color: #737373;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.main-container .product-detail-container .product-detail-description {
  padding: 50px 0;
  display: grid;
  grid-template-columns: 1fr 410px;
  grid-gap: 100px;
}

.main-container .product-detail-container .product-detail-description .left-section h3 {
  margin: 0 0 30px;
}

.main-container .product-detail-container .product-detail-description .left-section .section-detail {
  display: grid;
  grid-gap: 30px;
}

.main-container .product-detail-container .product-detail-description .left-section .section-detail p.border-left {
  border-left: 3px solid #23856D;
  padding-left: 24px;
}

.main-container .product-card {
  padding: 24px 0 48px;
  background-color: #FAFAFA;
}

.main-container .product-card .product-card-content {
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-gap: 30px;
}

.main-container .product-card .product-card-content .right-section {
  padding: 11px 24px;
}

.main-container .product-card .product-card-content .right-section .p-review-price {
  padding-bottom: 100px;
  border-bottom: 1px solid #BDBDBD;
  margin: 0 0 30px;
}

.main-container .product-card .product-card-content .right-section h4 {
  margin: 0 0 12px;
}

.main-container .product-card .product-card-content .right-section .reviews {
  display: flex;
  grid-gap: 2px;
  margin: 0 0 22px;
}

.main-container .product-card .product-card-content .right-section .reviews ul {
  display: flex;
  grid-gap: 5px;
}

.main-container .product-card .product-card-content .right-section h3.price {
  margin: 0 0 5px;
  color: #252B42;
}

.main-container .product-card .product-card-content .right-section p.availability {
  color: #737373;
}

.main-container .product-card .product-card-content .right-section p.availability span {
  font-size: inherit;
  font-weight: inherit;
  color: #23A6F0;
}

.main-container .product-card .product-card-content .right-section ul.variants {
  margin: 0 0 65px;
}

.main-container .product-card .product-card-content .right-section ul.variants li a {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
}

.main-container .product-card .product-card-content .right-section ul.variants li a.blue {
  background-color: #23A6F0;
}

.main-container .product-card .product-card-content .right-section ul.variants li a.green {
  background-color: #2DC071;
}

.main-container .product-card .product-card-content .right-section ul.variants li a.orange {
  background-color: #E77C40;
}

.main-container .product-card .product-card-content .right-section ul.variants li a.black {
  background-color: #252B42;
}

.main-container .product-card .product-card-content .right-section .right-section-footer {
  display: flex;
  grid-gap: 10px;
}

.main-container .product-card .product-card-content .right-section .right-section-footer button.button {
  padding: 0 20px;
  height: 44px;
  margin: 0;
  background-color: #23A6F0;
  color: #fff;
}

.main-container .product-card .product-card-content .right-section .right-section-footer ul {
  display: flex;
  grid-gap: 10px;
  align-items: center;
}

.main-container .product-card .product-card-content .right-section .right-section-footer ul li a {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E8E8E8;
}

footer {
  padding: 50px 0;
}

footer .footer-content {
  max-width: 1050px !important;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  grid-gap: 30px;
}

footer .footer-content h5 {
  margin: 0 0 20px;
  color: #252B42;
}

footer .footer-content ul {
  display: grid;
  grid-gap: 10px;
}

footer .footer-content ul li a {
  color: #737373;
}

footer .footer-content .subscriber-section .email-section {
  position: relative;
}

footer .footer-content .subscriber-section .email-section input {
  padding: 0 115px 0 20px;
  outline: none;
  background-color: #F9F9F9;
  height: 58px;
  border-radius: 5px;
  border: 1px solid #E6E6E6;
  background: #F9F9F9;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  width: 100%;
}

footer .footer-content .subscriber-section .email-section span {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 112px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  line-height: 28px;
  /* 200% */
  letter-spacing: 0.2px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #E6E6E6;
  background-color: #23A6F0;
}

.footer-bar {
  background-color: #FAFAFA;
}

.footer-bar .footer-bar-content {
  height: 74px;
  display: flex;
  align-items: center;
}

.footer-bar .footer-bar-content p {
  color: #737373;
}

/*! Flickity v2.1.2
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19f;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: #333;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

.drawer-container {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100vh;
  background-color: white;
  transition: left 0.3s ease-in-out;
  z-index: 100;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-left:10px;
}

.drawer-container.show {
  right: 0 !important;
}

.drawer-container img {
  align-self: flex-start;
}

.drawer-container .inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: scroll;
}

.drawer-container .inner-container .single-item {
  display: flex;
  column-gap: 10px;
}

.drawer-container .inner-container .single-item .info {
  display: flex;
  row-gap: 8px;
  flex-direction: column;
}

.drawer-container .inner-container .single-item .img {
  width: 100px;
}

.drawer-container .inner-container .single-item .img img {
  width: 100px;
}

.drawer-container .inner-container .single-item .info .action {
  display: flex;
  column-gap: 8px;
}



/*# sourceMappingURL=style.css.map */